<!--page title start-->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-uppercase">아이템 추가하기</h4>
                <ol class="breadcrumb">
          	        <li><a href="/">Home</a></li>
                    <li><a href="/">Item</a></li>
          	        <li class="active">아이템추가하기</li>
          	    </ol>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <form action="/create_item" method="post" enctype="multipart/form-data">
        <input type="hidden" value="<%=current_user.id%>" name=user_id>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="form-group">
                        <label>아이템 이름은 무엇인가요?</label>
                        <input type="text" class="form-control text-center" name="item_name" id="item_name" placeholder="이름을 입력해주세요">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="form-group">
                        <label>가격은 어떤가요?</label>
                        <input type="number" class="form-control text-center" name="item_price" id="item_price" min="0" step="100" placeholder="가격을 입력해주세요">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="form-group">
                        <label>제작기간은 얼마나 걸리나요?</label>
                        <select class="form-control" id="period" name="item_period">
                            <option>1일~2일</option>
                            <option>3일~7일</option>
                            <option>1주~2주</option>
                            <option>2주 이상</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="form-group">
                        <label>주 재료가 무엇인가요?</label>
                        <input type="text" class="form-control text-center" name="item_material" id="item_material" placeholder="주 재료를 간단히 입력해주세요">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="form-group">
                        <label>아이템 품목은 무엇인가요?</label>
                        <input type="text" id="item_classification" name="item_classification" class="form-control" placeholder="선택해 주세요" disabled=true>
                        <select class="form-control" id="ic_select" name="ic_select">
                            <option>도자</option>
                            <option>유리</option>
                            <option>석/금속</option>
                            <option>귀금속보석</option>
                            <option>목/죽세</option>
                            <option>종이·한지</option>
                            <option>섬유</option>
                            <option>가죽</option>
                            <option value="1">직접 입력</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="form-group">
                        <label>아이템 메인 이미지를 넣어주세요</label>
                        <input type="file" class="filestyle text-center" data-icon="false" name="pic" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </form>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
//이메일 입력방식 선택
$('#ic_select').change(function(){
   $("#ic_select option:selected").each(function () {

        if($(this).val()== '1'){ //직접입력일 경우
             $("#item_classification").val('');                        //값 초기화
             $("#item_classification").attr("placeholder", "직접 입력하세요");
             $("#item_classification").attr("disabled",false); //활성화
        }else{ //직접입력이 아닐경우
             $("#item_classification").val($(this).text());      //선택값 입력
             $("#item_classification").attr("disabled",true); //비활성화
        }
   });
});
</script>
