<div class ="container">
  <form action = "/create_item" method="post" enctype="multipart/form-data">
  
    <input type = "hidden" value = "<%=current_user.id%>" name =user_id>
    <div class="row">
      <h1>아이템 추가하기 <small>Subtext for header</small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <div class="form-group">
          <label>아이템 이름은 무엇인가요?</label>
          <input type="text" class="form-control text-center" name = "item_name" id="item_name" placeholder="이름을 입력해주세요">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <div class="form-group">
          <label>가격은 어떤가요?</label>
          <input type="number" class="form-control text-center" name ="item_price" id="item_price"
            min="0" step="100" placeholder="가격을 입력해주세요">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <div class="form-group">
          <label>제작기간은 얼마나 걸리나요?</label>
          <select class="form-control" id="period" name = "item_period">
            <option>1일~2일</option>
            <option>3일~7일</option>
            <option>1주~2주</option>
            <option>2주 이상</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <div class="form-group">
          <label>주 재료가 무엇인가요?</label>
          <input type="text" class="form-control text-center" name ="item_material" id="item_material" placeholder="주 재료를 간단히 입력해주세요">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <div class = "form-group">
          <label>아이템 메인 이미지를 넣어주세요</label>
          <input type="file" class="filestyle text-center" data-icon="false" name="pic" accept="image/*">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>
</div>
