<!--<p>제작과정</p>-->
<!--&lt;!&ndash;<%= text_area_tag :content, '', :class => 'tinymce', :rows => 40, :cols => 120 %>&ndash;&gt;-->

<!--<form action="/pp_edit/<%= @item.id %>" method="post">-->
<!--<textarea id="file" name="file">Your content here</textarea>-->
<!--<input type="submit" value="Submit">-->
<!--</form>-->


<!--&lt;!&ndash;<%= text_area_tag :content, '', :class => 'tinymce', :rows => 40, :cols => 120 %>&ndash;&gt;-->

<!--<script src="//your installation path/4.1/tinymce.min.js"></script>-->
<!--&lt;!&ndash; Just be careful that you give correct path to your tinymce.min.js file, above is the default example &ndash;&gt;-->
<!--<script>-->
//  tinymce.init({
//    selector: "textarea",
//    toolbar: "mybutton",
//    height: 400,
//
//    setup: function (editor) {
//      editor.addButton('mybutton', {
//        text: "IMAGE",
//        icon: false,
//        onclick: function (e) {
//          console.log($(e.target));
//          if ($(e.target).prop("tagName") == 'BUTTON') {
//            console.log($(e.target).parent().parent().find('input').attr('id'));
//            if ($(e.target).parent().parent().find('input').attr('id') != 'tinymce-uploader') {
//              $(e.target).parent().parent().append('
<input id="tinymce-uploader" type="file" name="pic" accept="image/*" style="display:none">');
//            }
//            $('#tinymce-uploader').trigger('click');
//            $('#tinymce-uploader').change(function () {
//              var input, file, fr, img;
//              if (typeof window.FileReader !== 'function') {
//                write("The file API isn't supported on this browser yet.");
//                return;
//              }
//              input = document.getElementById('tinymce-uploader');
//              if (!input) {
//                write("Um, couldn't find the imgfile element.");
//              }
//              else if (!input.files) {
//                write("This browser doesn't seem to support the `files` property of file inputs.");
//              }
//              else if (!input.files[0]) {
//                write("Please select a file before clicking 'Load'");
//              }
//              else {
//                file = input.files[0];
//                fr = new FileReader();
//                fr.onload = createImage;
//                fr.readAsDataURL(file);
//              }
//              function createImage() {
//                img = new Image();
//                img.src = fr.result;
//                editor.insertContent('<img src="' + img.src + '"/>');
//              }
//            });
//          }
//          if ($(e.target).prop("tagName") == 'DIV') {
//            if ($(e.target).parent().find('input').attr('id') != 'tinymce-uploader') {
//              console.log($(e.target).parent().find('input').attr('id'));
//              $(e.target).parent().append('
<input id="tinymce-uploader" type="file" name="pic" accept="image/*" style="display:none">');
//            }
//            $('#tinymce-uploader').trigger('click');
//            $('#tinymce-uploader').change(function () {
//              var input, file, fr, img;
//              if (typeof window.FileReader !== 'function') {
//                write("The file API isn't supported on this browser yet.");
//                return;
//              }
//              input = document.getElementById('tinymce-uploader');
//              if (!input) {
//                write("Um, couldn't find the imgfile element.");
//              }
//              else if (!input.files) {
//                write("This browser doesn't seem to support the `files` property of file inputs.");
//              }
//              else if (!input.files[0]) {
//                write("Please select a file before clicking 'Load'");
//              }
//              else {
//                file = input.files[0];
//                fr = new FileReader();
//                fr.onload = createImage;
//                fr.readAsDataURL(file);
//              }
//              function createImage() {
//                img = new Image();
//                img.src = fr.result;
//                editor.insertContent('<img src="' + img.src + '"/>');
//              }
//            });
//          }
//          if ($(e.target).prop("tagName") == 'I') {
//            console.log($(e.target).parent().parent().parent().find('input').attr('id'));
//            if ($(e.target).parent().parent().parent().find('input').attr('id') != 'tinymce-uploader') {
//              $(e.target).parent().parent().parent().append('
<input id="tinymce-uploader" type="file" name="pic" accept="image/*" style="display:none">');
//            }
//            $('#tinymce-uploader').trigger('click');
//            $('#tinymce-uploader').change(function () {
//              var input, file, fr, img;
//              if (typeof window.FileReader !== 'function') {
//                write("The file API isn't supported on this browser yet.");
//                return;
//              }
//              input = document.getElementById('tinymce-uploader');
//              if (!input) {
//                write("Um, couldn't find the imgfile element.");
//              }
//              else if (!input.files) {
//                write("This browser doesn't seem to support the `files` property of file inputs.");
//              }
//              else if (!input.files[0]) {
//                write("Please select a file before clicking 'Load'");
//              }
//              else {
//                file = input.files[0];
//                fr = new FileReader();
//                fr.onload = createImage;
//                fr.readAsDataURL(file);
//              }
//              function createImage() {
//                img = new Image();
//                img.src = fr.result;
//                editor.insertContent('<img src="' + img.src + '"/>');
//              }
//            });
//          }
//        }
//      });
//    }
//  });
<!--</script>-->
