<p id="notice"><%= notice %></p>
<section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-uppercase">Blog Listing</h4>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li class="active">Blog Listing</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--page title end-->


        <% @flea.each do |f| %>
        <!--body content start-->
        <section class="body-content ">

            <div class="page-content">
                <div class="container">
                    <div class="row">

                        <!--blog list-->
                        <div class="post-list-aside">
                            <div class="post-single">
                                <div class="col-md-5">
                                    <div class="post-img">
                                        <img src="img/post/p6.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-md-7">
                                    <div class="post-desk text-center">
                                        <ul class="post-cat">
                                            <li><a href="#">interface</a></li>
                                            <li><a href="#">standard</a></li>
                                        </ul>
                                        <h4 class="text-uppercase">
                                            <a href="blog-single.html">we work together for fun</a>
                                        </h4>
                                        <div class="date">
                                            <a href="#" class="author">martin smith</a> july 29, 2015
                                        </div>
                                        <p>
                                            Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
                                            fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
                                        </p>
                                        <a href="blog-single.html" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--blog list-->

                    </div>
                </div>
            </div>
            <%end%>
            <hr/>

            <!--pagination-->
            <div class="text-center page-content">
                <ul class="pagination custom-pagination">
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            <!--pagination-->


        </section>
        <!--body content end-->


<%= link_to 'New Flea', new_flea_path %>
