<body>
  <section class="page-title">
    <div class="container">
      <h4 class="text-uppercase">
        Today market</h4>
      <p>진행중인 플리마켓</p>
    </div>
  </section>
  <div class="container">
<form>


  <div class="form-group col-md-10" style="margin-top: 50px" >

  <!--  '서울','인천','대전','대구','부산','광주','울산',
      '경기','충남','충북','전남','전북','경남','경북','제주' -->
  <sapn><p style="margin-bottom : 0px">
    <i class="fa fa-search" aria-hidden="true"></i>지역 선택</p></span>
    <div class="inline-group">
      <input type="radio" name="city" checked="true" value="전체"/>전체
      <input type="radio" name="city" value="서울" />서울
      <input type="radio" name="city" value="인천"/>인천
      <input type="radio" name="city" value="대전"/>대전
      <input type="radio" name="city" value="대구"/>대구
      <input type="radio" name="city" value="부산"/>부산
      <input type="radio" name="city" value="광주"/>광주
      <input type="radio" name="city" value="울산"/>울산
      <input type="radio" name="city" value="경기"/>경기
      <input type="radio" name="city" value="충남"/>충남
      <input type="radio" name="city" value="충북"/>충북
      <input type="radio" name="city" value="전남"/>전남
      <input type="radio" name="city" value="전북"/>전북
      <input type="radio" name="city" value="경남"/>경남
      <input type="radio" name="city" value="경북"/>경북
      <input type="radio" name="city" value="제주"/>제주
      <button id="search" class="btn">검색</button>
    </div>

  </div>

</form>

<section class="body-content">
    <div class="page-content product-grid">
        <div class="container">
            <% @today_flea.each do |p| %>
            <div class="col-md-3">
                <!--product list-->
                <div class="product-list">
                    <div>
                        <a href="#"><%=image_tag p.poster_url, size: '260x400' %></a>
                    </div>
                    <br/>
                    <div class="product-title">
                        <h4>
                            <a href="#"><%=p.name%></a>
                        </h4>
                    </div>
                    <div class="product-title">
                        <%=p.event_start_date%>
                        ~
                        <%=p.event_end_date%>
                    </div>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>


                </div>
            </div>

        <%end%>

  </div>

  </section>

  </div>

</body>

<script>
$(document).ready(function() {

  $('#search').click(function(){
    $.ajax({
      url : "/fleas",
      data : {"city" : $('input[name=city]').val()},
      type : "GET",
      }
    });
  });
});
</script>
