<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class = "container">
    <h1></h1><br><h1></h1><br>
    <%= render 'form' %>
    <%= link_to 'Back', fleas_path %>
  <div>
</body>
</html>
