
<div class = "container text-center" style ="margin-bottom:30px;">
  <div class = "col-md-6">
    <p>닉네임으로 유저검색하기</p>
    <%= form_tag("/user", method: "get") do %>
      <%= text_field_tag "search", nil, :placeholder => 'Search for..', :class =>"form-control searchquery" %>
    <% end %>
    </div>
    <div class = "col-md-6">
      <p>조건으로 유저검색하기(아직 안됨)</p>
        <%= form_tag("/user", method: "get") do %>
          <%= text_field_tag "search", nil ,:placeholder => 'Search for..', :class => "form-control searchquery" %>
        <% end %>
    </div>
</div>
