<h1>JoinFlea#index</h1>

<% @fleas.each do |p| %>
  <%= p.name %>
  <a href="/join_flea/<%=p.id%>" class="confirmation"> 지원하기 </a>
<% end %>


<script type="text/javascript">
  $('.confirmation').on('click', function () {
      return confirm('Are you sure?');
  });
</script>
