<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mosaddek">

  <title>Creative 3</title>

</head>

<body>
<!--  preloader start -->
<div id="tb-preloader">
  <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->
<div class="wrapper">
  <!--hero section-->
  <div id="fullscreen-banner" class="full-banner vertical-align">
    <div class="container-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="banner-title semi-transparent bg-space-lg  light-txt ">
              <h1 class="text-uppercase" style="font-weight:bold">플리마켓에<br>참여해보세요!</h1>
              <h3 style="letter-spacing:2px" class="text-uppercase m-top-10">공방인으로 쉽게 할 수 있습니다.<br>지금 바로 가입하세요!</h3>
              <div class="m-top-30 inline-block">
                <% if user_signed_in? %>
                    <a href="/users/edit" class="btn btn-medium btn-light-border">프로필수정하기</a>
                    <a href="/fleas" class="btn btn-medium btn-light-border">마켓보러가기</a>
                <% else %>
                    <a href="/users/sign_up" class="btn btn-medium btn-light-border">가입하기</a>
                    <a href="/users/sign_in" class="btn btn-medium btn-light-border">로그인하기</a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--hero section-->


  <!--body content start-->
  <section class="body-content">
  </section>
  <!--body content end-->
</div>

</body>
</html>
