<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mosaddek">

  <link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/magnific-popup.css" rel="stylesheet">
  <link href="css/shortcodes/shortcodes.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/owl.theme.css" rel="stylesheet">
  <link href="css/style.css?v=1" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <link href="css/default-theme.css?v=1" rel="stylesheet">


  <title>Creative 3</title>

</head>

<body>
<!--  preloader start -->
<div id="tb-preloader">
    <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->
<div class="wrapper">


  <!--hero section-->
  <div id="fullscreen-banner" class="full-banner vertical-align">
    <div class="container-mid">
      <div class="container">
        <div class="banner-title light-txt">
          <h1 class="text-uppercase">플리마켓에 참여하세요!</h1>
          <h3 class="text-uppercase m-top-10">공방인으로 쉽게 할 수 있습니다. 지금 바로 가입하세요!</h3>
          <div class="m-top-30 inline-block">
            <% if user_signed_in? %>
                <a href="#" class="btn btn-medium btn-light-border">구경하러가기</a>
                <a href="#" class="btn btn-medium btn-light-border">마켓보러가기</a>
            <% else %>
                <a href="/users/sign_up" class="btn btn-medium btn-light-border">가입하기</a>
                <a href="/users/sign_in" class="btn btn-medium btn-light-border">로그인하기</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--hero section-->

  <!--body content start-->
  <section class="body-content">
    <!--fun factor-->
    <div class="dark dark-bg page-content ">
      <div class="container">
        <div class="row">
          <div class=" inline-block">
            <div class="col-md-3 ">
              <div class="fun-factor fun-icon-text-parallel alt">
                <div class="icon">
                  <i class="icon-layers"></i>
                  <h1 class="timer theme-color" data-from="0" data-to="14263" data-speed="1000">14263</h1>
                </div>
                <div class="fun-info">
                  <span>마켓등록갯수</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="fun-factor fun-icon-text-parallel alt">
                <div class="icon">
                  <i class="icon-computer_imac_slim"></i>
                  <h1 class="timer theme-color" data-from="0" data-to="43021" data-speed="1000">43021</h1>
                </div>
                <div class="fun-info">
                  <span>총 셀러 회원수</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="fun-factor fun-icon-text-parallel alt">
                <div class="icon">
                  <i class="icon-database"></i>
                  <h1 class="timer theme-color" data-from="0" data-to="94211" data-speed="1000">94211</h1>
                </div>
                <div class="fun-info">
                  <span>등록되어있는 아이템</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="fun-factor fun-icon-text-parallel alt">
                <div class="icon">
                  <i class="icon-linegraph"></i>
                  <h1 class="timer theme-color" data-from="0" data-to="342" data-speed="1000">342</h1>
                </div>
                <div class="fun-info">
                  <span>총 카테고리 수</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--fun factor-->
  </section>
  <!--body content end-->

  <!--footer 1 start -->
  <footer id="footer" class="dark">
    <div class="secondary-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span class="m-top-10">Copyright 2016 - 공방인 by <a href="#" class="f-link">TeamGongBang</a> | All Rights Reserved</span>
          </div>
          <div class="col-md-6">
            <div class="social-link circle pull-right">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--footer 1 end-->
</div>
<%= week_calendar number_of_weeks: 2 do |date| %>
    <%= date %>
<% end %>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="assets/js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/menuzord.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.isotope.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/visible.js"></script>
<script src="js/smooth.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/imagesloaded.js"></script>
<!--common scripts-->
<script src="js/scripts.js?8"></script>

</body>
</html>
