<section class="page-title">
  <div class="container">
    <h4 class="text-uppercase">manage</h4>
  </div>
</section>
<div class="container text-center" style="margin-bottom:60px; margin-top:60px;">
  <a href="/mastermenu/user_manage" class="btn btn-lg btn-danger" style="color:white;">
    <span class="glyphicon glyphicon-user"></span>
    유저관리
  </a>
  <a href="#" class="btn btn-lg btn-danger" style="color:white;">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    마켓관리
  </a>
  <br><br>
  <a href="#" class="btn btn-lg btn-info" style="color:white;">
    <span class="glyphicon glyphicon-send"></span>
    메일하기
  </a>
  <a href="#" class="btn btn-lg btn-info" style="color:white;">
    <span class="glyphicon glyphicon-phone"></span>
    문자하기
  </a>
  <br><br>
  <a href="#" class="btn btn-lg btn-warning" style="color:white;">
    <span class="glyphicon glyphicon-remove"></span>
    뭔가하기
  </a>
  <a href="#" class="btn btn-lg btn-warning" style="color:white;">
    <span class="glyphicon glyphicon-remove"></span>
    뭔가하기
  </a>
  <br><br>
</div>
