<div class="container text-center">
  <p>sms</p>
  <form action="/send_sms/<%= @receiver.id %>" method="post">
    <textarea class="form-control" name="content" rows="5" id="emailcontent">
    </textarea>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
