//main_page full banner
.full-banner {
    background: url(wallpaper.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-position: 50% 50%;
}

//preloader
.tb-preloader-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}
.tb-preloader-wave:before,
.tb-preloader-wave:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #222;
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite;
}
.tb-preloader-wave:after {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}



//devise
.login-bg {
    background: #f5f5f5;
    height: 100vh;
}

.login-parallax {
    background: url(loginwall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
