<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-uppercase">플래너 신청하기</h4>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">플래너 신청하기</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <form action="/standby/<%= current_user.id %>" method="get" name="formName">
    <input type="hidden" value="<%= current_user.id %>" name=user_id>
    <div class="page-content">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <div class="alert danger-border text-center">
            <i class="fa fa-lg fa-warning"></i>
            <strong style="font-size:20px;">읽어주세요!</strong><br/><br/>
            <li>심사는 저희 공방인 마스터들이 사업자등록 확인, 마켓장소확인 등의 절차를 따라 진행합니다.</li>
            <li>
              <strong>지금 수집되는 정보 외에 개인정보란에 빈칸이 있을 경우 플래너가 되지 않을 수 있습니다</li>
            <li>허위정보를 입력하신 경우 플래너 영구 제외가 될 수 있음을 아셔야 합니다.</strong>
            </li>
            <li>저희는 플래너님의 개인정보는 절대로 다른목적으로 사용하지 않습니다.</li>
            <li>플래너가 되실 경우 셀러들의 정보를 열람할 수 있습니다.<br/>
              셀러들의 개인정보를 모집 외 다른 목적으로 사용하실 경우 탈퇴 조치 하겠습니다.
            </li>
            <li>
              <심사는 하루에서 이틀정도 걸릴 수 있습니다!
            </li>
            <div class="checkbox">
              <label>
                <form>
                  <input type="radio" name="agree" id="check1">　동의 해주세요 :)
                  <input type="radio" name="agree" id="check2">ㅤㅤㅤ　동의 안해요 :(
                </form>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div class="form-group">
            <label>사업자명을 무엇인가요?</label>
            <input type="text" class="form-control text-center" name="brand" id="brand" placeholder="사업자명를 입력해주세요">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div class="form-group">
            <label>사업자 등록 번호는요?</label>
            <input type="text" class="form-control text-center" name="brand_number" id="brand_number" placeholder="사업자 등록 번호를 입력해주세요">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <div class="form-group">
            <label>마켓 장소는 어디인가요?</label>
            <input type="text" class="form-control text-center" name="brand_place" id="brand_place" placeholder="장소를 입력해주세요">
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" name="subMit" class="btn btn-primary confirmation" disabled="true" id="sub" onclick="return erchk();">Submit</button>

      </div>
    </div>
  </form>
</div>

<script>
  function erchk() {
    if (document.getElementById("brand").value == "") {
      alert("사업자명을 입력해주세요.");
      document.getElementById("brand").focus();
      return false;
    }
    if (document.getElementById("brand_number").value == "") {
      alert("사업자 등록 번호를 입력해 주세요.");
      document.getElementById("brand_number").focus();
      return false;
    }
    if (document.getElementById("brand_place").value == "") {
      alert("장소를 입력해 주세요.");
      document.getElementById("brand_place").focus();
      return false;
    }
    return confirm('신청할까요?');
  }
  $("#check1").click(function () {
    $("#sub").attr("disabled", false);
  });
  $("#check2").click(function () {
    $("#sub").attr("disabled", true);
  });

</script>


<script type="text/javascript">
  $('.#').on('click', function () {
    return confirm('신청할까요?');
  });
</script>
