<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <center style = "font-size:20px;"><strong>다음의 에러가 발생했습니다.</strong></center>
      <center>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </center>
    </div>
  </div>
<% end %>
